<div class="modal" ref="modal">
    <div class="modal__block">
        <form class="form">
            {{{Title title=title className="form__title title"}}}
            {{{ Label for="user" value="Логин" className="form__label label"}}}
            {{{ Input type="text" name="login" placeholder="ФИО" id="user" className="input" ref="newLogin" pattern='login'}}}
            {{{ Line className="line line_blue line_mb"}}}
            {{{Button type='submit' label=btnLabel className="btn" onClick=onClick}}}
        </form>
    </div>
</div>