<li class="chat{{#if active}} chat_active{{/if}}" onClick={{onClick}}>
    <div class="chat__img">{{avatar}}</div>
    <div class="chat__block chat__block-message">
        <div class="chat__title">{{title}}</div>
        <div class="chat__wrapper-message">
            <p class="chat__message">{{message}}</p>
        </div>
        
    </div>
    <div class="chat__block chat__date">
        <div class="chat__date">{{time}}</div>
        <div class="chat__count">{{count}}</div>
    </div>
</li>

