<main class="main">
  <div class="main__wrapper">
       {{{Button type='button' label="Авторизация" className="link" onClick=linkAuth}}}
       {{{Button type='button' label="Регистрация" className="link" onClick=linkRegistration}}}
       {{{Button type='button' label="Страница с чатом" className="link" onClick=linkChat}}}
       {{{Button type='button' label="Профиль" className="link" onClick=linkProfile}}}
       {{{Button type='button' label="Страница с ошибкой 404" className="link" onClick=linkError404}}}
       {{{Button type='button' label="Страница с ошибкой 500" className="link" onClick=linkError500}}}
  </div>
</main>