<fieldset class="form__wrapper">

  <div class="row row_margin">
    {{{ Label for="email" value="Почта" className="label__profile"}}}
    {{{ Input type="text" name="email" placeholder="pochta@yandex.ru" id="email" className="input
    input_rigth" ref="email" pattern=pattern.email}}}
  </div>
  {{{ Line className="line line_gray"}}}

  <div class="row row_margin">
    {{{ Label for="login" value="Логин" className="label__profile"}}}
    {{{ Input type="text" name="login" placeholder="ivanivanov" id="login" className="input
    input_rigth" ref="login" pattern=pattern.login}}}
  </div>
  {{{ Line className="line line_gray"}}}

  <div class="row row_margin">
    {{{ Label for="first_name" value="Имя" className="label__profile"}}}
    {{{ Input type="text" name="first_name" placeholder="Иван" id="first_name" className="input
    input_rigth" ref="first_name" pattern=pattern.name}}}
  </div>
  {{{ Line className="line line_gray"}}}

  <div class="row row_margin">
    {{{ Label for="second_name" value="Фамилия" className="label__profile"}}}
    {{{ Input type="text" name="second_name" placeholder="Иванов" id="second_name" className="input
    input_rigth" ref="second_name" pattern=pattern.name}}}
  </div>
  {{{ Line className="line line_gray"}}}

  <div class="row row_margin">
    {{{ Label for="display_name" value="Имя в чате" className="label__profile"}}}
    {{{ Input type="text" name="display_name" placeholder="Иван" id="display_name" className="input
    input_rigth" ref="display_name" pattern=pattern.name}}}
  </div>
  {{{ Line className="line line_gray"}}}

  <div class="row row_margin">
    {{{ Label for="phone" value="Телефон" className="label__profile"}}}
    {{{ Input type="tel" name="phone" placeholder="+7 (909) 967 30 30" id="phone" className="input
    input_rigth" ref="phone" pattern=pattern.phone}}}
  </div>

</fieldset>