<li class="message">
    <div class="message__wrapper{{#if isMine}} message__own{{else}} message__companion{{/if}}{{#if active}} message_active{{/if}}">
        <div class="message__content">
            {{#if isStateText}}
                <p class="message__text">{{content}}</p>
            {{else}}
                <img src={{image}} alt="photo">
            {{/if}}
        </div>
        <div class="message__time">{{time}}</div>
    </div>
</li>
            