<li class="message">
    <div class="message__wrapper{{#if isMine}} message__companion{{else}} message__own{{/if}}{{#if active}} message_active{{/if}}">
        <div class="message__content">
             <p class="message__text">{{content}}</p>
            {{!-- {{#if isStateText}}
               
            {{else}}
                <img src={{image}} alt="photo">
            {{/if}} --}}
        </div>
        {{!-- <div class="messages__date">12 июня</div> --}}
        {{!-- <div class="message__time">{{time}}</div> --}}
    </div>
</li>
            