<fieldset class="form__wrapper">
  <div class="row row_margin">
    {{{ Label for="oldPassword" value="Старый пароль" className="label__profile"}}}
    {{{ Input type="text" name="oldPassword" placeholder="••••••••••••" id="oldPassword" className="input
    input_rigth" ref="oldPassword" pattern=pattern.password}}}
  </div>
  {{{ Line className="line line_gray"}}}

  <div class="row row_margin">
    {{{ Label for="newPassword" value="Новый пароль" className="label__profile"}}}
    {{{ Input type="text" name="newPassword" placeholder="••••••••••••" id="newPassword" className="input
    input_rigth" ref="newPassword" pattern=pattern.password}}}
  </div>
  {{{ Line className="line line_gray"}}}

  <div class="row row_margin">
    {{{ Label for="newPasswordRepeat" value="Повторите новый пароль" className="label__profile"}}}
    {{{ Input type="text" name="newPassword" placeholder="••••••••••••" id="newPasswordRepeat" className="input
    input_rigth" ref="newPasswordRepeat" pattern=pattern.password}}}
  </div>
  {{{ Line className="line line_gray"}}}
</fieldset>

     